.platform-navigator {
  display: flex;
  flex-direction: column;
  position: relative;

  &__button {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    gap: var(--amplify-space-xs);
  }

  .popover {
    left: 0;
    z-index: 1;
  }

  &__dropdown__item--current {
    background-color: var(--amplify-colors-neutral-10);
    position: relative;
    &:before {
      content: '';
      width: 3px;
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;
      z-index: 1;
      background-color: var(--amplify-colors-primary-60);
    }
  }
}
